:root{
   --color-bg:rgba(251, 251, 251, 0.2);

}
.card {
    border: none;
    transition: transform 0.4s ease;
    
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flex-1{
    flex: 1 1 auto;
}
/*footer de imagenes*/
.bgFooter{
    background-color: var(--color-bg);
}


/* Estilo del inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
          
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
          
input[type=submit]:hover {
    background-color: #45a049;
}
/* Crear dos columnas que flotan una al lado de la otra */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
          
/* Limpiar flotadores después de las columnas. */
.row:after {
    content: "";
    display: table;
    clear: both;
}
          
/* Diseño responsivo: cuando la pantalla tiene menos de 600 píxeles de ancho, haga que las dos columnas se apilen una encima de la otra en lugar de una al lado de la otra. */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}