*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.content{
    background-color:black;
    min-height: 80px;

}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {

    color: #00c3ff;
}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width: 991px) {
    .content{
        min-height: 70px;
    }
    .menu{
        top:0;
        padding: 20px;
    }
    .menu label{
        display:initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color: #151517;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;

    }
}

.contenido{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(150deg, beige, purple);
    height: 100vh;
}

.secciones {
    display: flex;
    align-items: center;
    padding:40px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.footer{
    background-color: black;
    padding: 80px 0;

}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-link { 
    width: 25%;
    padding: 0 15px;
}

.footer-link h4{
    font-size: 20 px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-link ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;

}

.footer-link ul li a:hover{
    color: white;
    padding-left: 6px;

}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;


}

.social-link a:hover{
    background-color: #00c3ff;
}

@media(max-width:911px){
    .footer-row{ 
        text-align: center;
    }
    .footer-link{
        width: 100%;
        margin-bottom: 30px;
    }

}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(150deg, beige, purple);
    height: 100vh;
}
.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box ;
}

form .username{
    position:relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6c3483;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: #6c3483;
}
.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width:100% ;
}
.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6c3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;

}

input[type= "submit"]:hover{
    border-color: purple;
    transition: .5s;

}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.registrarse a{
    color:blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}
